In [15]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("data.csv")

data.describe()

depense_age = data[data["Feedback_Score"] > 5]
print(depense_age.head())

   ID                   Name  Age   Country  Purchase_Amount Date_of_Purchase  \
1   2  Mrs. Amanda Wilson MD   25     Congo           104.22       2023-08-06
2   3          Brandon Evans   52  Anguilla           482.30       2024-03-05
4   5           Donna Robles   72   Morocco           265.95       2023-04-09
5   6      Francisco Garrett   51     Sudan           449.27       2023-04-12
6   7         Roberto Macias   21  Pakistan           125.13       2024-03-22

   Feedback_Score
1               6
2               7
4               8
5               6
6               6