# Pandas Exercises

## Creating DataFrames and Using Sample Data Sets

This is the Jupyter Notebook runnable exercises version of the article, [Pandas Practice Questions â€“ Fifty-Two Examples to Make You an Expert](https://codesolid.com/pandas-practice-questions-twenty-one-examples-to-make-you-an-expert/).

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb

**1.** Using NumPy, create a Pandas DataFrame with five rows and three columms:

In [4]:
data = np.random.randint(20, size=(5,3))
df = pd.DataFrame(data)

[texte du lien](https://)**2.** For a Pandas DataFrame created from a NumPy array, what is the default behavior for the labels for the columns?  For the rows?

By default, columns ar labeled with integers, starting from to n. So as rows.

**3.** Create a second DataFrame as above with five rows and three columns, setting the row labels to the names of any five major US cities and the column labels to the first three months of the year.

In [6]:
df = pd.DataFrame(data, index=["New York", "California", "Washington DC", "Texas", "Ohia"], columns=["January", "February", "March"])
df

               January  February  March
New York             2         2      9
California          16        13      5
Washington DC       16        15      8
Texas                2        15     12
Ohia                 9        10     13

**4.** You recall that the Seaborn package has some data sets built in, but can't remember how to list and load them. Assuming the functions to do so have "data" in the name, how might you locate them?  You can assume a Jupyter Notebook / IPython environment and explain the process, or write the code to do it in Python.

In [7]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [8]:
sb.load_dataset('taxis')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

## Loading data from CSV

**5**. Zillow home data is available at this URL: https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv

Open this file as a DataFrame named df_homes in Pandas.

In [12]:
df_homes = pd.read_csv('https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
df_homes

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31
0,102001,0,United States,country,NaN,124341.456204,124560.212686,124831.502934,125413.367265,126083.023349,...,366082.534618,366541.033973,367139.889484,367641.575813,368374.194231,369014.892386,369482.288322,369202.386239,368665.574321,367968.705738
1,394913,1,"New York, NY",msa,NY,222144.732358,223088.722133,224041.454953,225972.060310,227971.269013,...,684259.382386,688392.137956,692009.202648,694852.796493,696684.019029,697783.971423,699099.865036,700827.952338,703306.775318,705107.625540
2,753899,2,"Los Angeles, CA",msa,CA,227474.670293,228321.164684,229448.687139,231692.078064,234145.644428,...,968498.303263,975119.777398,980502.547890,985140.366842,989285.868299,989838.113917,987754.657488,982522.486549,978090.511332,973190.303272
3,394463,3,"Chicago, IL",msa,IL,157959.146515,158105.370670,158383.857148,159076.662297,159910.023559,...,332736.334132,333770.643414,334778.577839,335849.144693,337135.023459,338519.797594,339906.122978,340776.962637,341395.613655,341694.770054
4,394514,4,"Dallas, TX",msa,TX,130592.692029,130650.858471,130717.726749,130891.376645,131120.329279,...,385874.026936,385669.188552,385559.561280,385261.052237,384718.564925,384177.312312,383371.622567,381834.215592,379657.813133,377185.670539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,142354.280290,141658.631769,140688.965632,139845.116065,139235.764415,138748.002916,138220.213817,137461.135357,135291.447014,132922.695375
891,394743,936,"Ketchikan, AK",msa,AK,NaN,NaN,NaN,NaN,NaN,...,380869.166790,382168.124752,384038.417458,384540.837970,384920.481100,385398.196650,386633.175235,387444.518728,389181.402616,392335.586473
892,753874,937,"Craig, CO",msa,CO,99117.737489,99371.188475,99843.047818,100515.019106,101295.895743,...,288400.191106,289765.476841,291468.725018,292696.249644,293760.826050,294043.754004,294817.757179,295136.306252,296415.334300,297813.039425
893,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,111502.089906,109976.215509,108052.965229,105735.989513,104192.487204,103065.956518,102039.143009,100825.492165,99312.742015,98094.470926
894,394767,939,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,110641.442205,111479.527940,111490.949926,110907.270134,110523.557130,109809.918856,110181.569888,110647.982705,110986.316328,110845.357293

**6.** Save the DataFrame, df_homes, to a local CSV file, "zillow_home_data.csv".

In [13]:
df_homes.to_csv('zillow_home_data.csv')

**7.** Load zillow_home_data.csv back into a new Dataframe, df_homes_2

In [14]:
df_homes_2 = pd.read_csv('zillow_home_data.csv')

**8.** Compare the dimensions of the two DataFrames, df_homes and df_homes_2.  Are they equal?  If not, how can you fix it?

In [18]:
df_homes_2.head()

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31
0,0,102001,0,United States,country,NaN,124341.456204,124560.212686,124831.502934,125413.367265,...,366082.534618,366541.033973,367139.889484,367641.575813,368374.194231,369014.892386,369482.288322,369202.386239,368665.574321,367968.705738
1,1,394913,1,"New York, NY",msa,NY,222144.732358,223088.722133,224041.454953,225972.060310,...,684259.382386,688392.137956,692009.202648,694852.796493,696684.019029,697783.971423,699099.865036,700827.952338,703306.775318,705107.625540
2,2,753899,2,"Los Angeles, CA",msa,CA,227474.670293,228321.164684,229448.687139,231692.078064,...,968498.303263,975119.777398,980502.547890,985140.366842,989285.868299,989838.113917,987754.657488,982522.486549,978090.511332,973190.303272
3,3,394463,3,"Chicago, IL",msa,IL,157959.146515,158105.370670,158383.857148,159076.662297,...,332736.334132,333770.643414,334778.577839,335849.144693,337135.023459,338519.797594,339906.122978,340776.962637,341395.613655,341694.770054
4,4,394514,4,"Dallas, TX",msa,TX,130592.692029,130650.858471,130717.726749,130891.376645,...,385874.026936,385669.188552,385559.561280,385261.052237,384718.564925,384177.312312,383371.622567,381834.215592,379657.813133,377185.670539

In [24]:
df_homes_2.drop(columns=['Unnamed: 0'], inplace=True)

In [19]:
df_homes.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30,2025-05-31
0,102001,0,United States,country,NaN,124341.456204,124560.212686,124831.502934,125413.367265,126083.023349,...,366082.534618,366541.033973,367139.889484,367641.575813,368374.194231,369014.892386,369482.288322,369202.386239,368665.574321,367968.705738
1,394913,1,"New York, NY",msa,NY,222144.732358,223088.722133,224041.454953,225972.060310,227971.269013,...,684259.382386,688392.137956,692009.202648,694852.796493,696684.019029,697783.971423,699099.865036,700827.952338,703306.775318,705107.625540
2,753899,2,"Los Angeles, CA",msa,CA,227474.670293,228321.164684,229448.687139,231692.078064,234145.644428,...,968498.303263,975119.777398,980502.547890,985140.366842,989285.868299,989838.113917,987754.657488,982522.486549,978090.511332,973190.303272
3,394463,3,"Chicago, IL",msa,IL,157959.146515,158105.370670,158383.857148,159076.662297,159910.023559,...,332736.334132,333770.643414,334778.577839,335849.144693,337135.023459,338519.797594,339906.122978,340776.962637,341395.613655,341694.770054
4,394514,4,"Dallas, TX",msa,TX,130592.692029,130650.858471,130717.726749,130891.376645,131120.329279,...,385874.026936,385669.188552,385559.561280,385261.052237,384718.564925,384177.312312,383371.622567,381834.215592,379657.813133,377185.670539

**9.** A remote spreadsheet showing how a snapshot of how traffic increased for a hypothetical website is available here: https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx. Load the worksheet page of the spreasheet data labelled "February 2022" as a DataFrame named "feb".  Note: the leftmost column in the spreadsheet is the index column.

In [29]:
feb = pd.read_excel('https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx', sheet_name='February 2022', index_col=0)
feb.head()

            This Month  Last Month  Month to Month Increase
Users             1800         280                 5.428571
New Users         1700         298                 4.704698
Page Views        2534         436                 4.811927

**10.** The "Month to Month Increase" column is a bit hard to understand, so ignore it for now.  Given the values for "This Month" and "Last Month", create a new column, "Percentage Increase".

In [32]:
feb['percentage increase'] = (feb['This Month'] - feb['Last Month']) / feb['Last Month']
feb

,This Month,Last Month,Month to Month Increase,percentage increase
Users,1800,280,5.428571,5.428571
New Users,1700,298,4.704698,4.704698
Page Views,2534,436,4.811927,4.811927

## Basic Operations on Data

**11.** Using Seaborn, get a dataset about penguins into a dataframe named "df_penguins".  Note that because all of the following questions depend on this example, we'll provide the solution here so no one gets stuck:

In [34]:
df_penguins = sb.load_dataset('penguins')
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

**12.** Write the code to show the the number of rows and columns in df_penguins

In [36]:
df_penguins.shape

(344, 7)

**13.** How might you show the first few rows of df_penguins?

In [38]:
df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

**14.** How can you return the unique species of penguins from df_penguins?  How many unique species are there?

In [41]:
df_penguins['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

**15.** What function can we use to drop the rows that have missing data?

In [42]:
df_penguins.dropna()

**16.** By default, will this modify df_penguins or will it return a copy?

It will return a copy

**17.** How can we override the default?

**18.** Create a new DataFrame, df_penguins_full, with the missing data deleted.

In [43]:
df_penguins.dropna(inplace=True)

**19.** What is the average bill length of a penguin, in millimeters, in this (df_full) data set?

In [48]:
df_penguins['bill_length_mm'].agg('mean')

np.float64(43.99279279279279)

**20.** Which of the following is most strongly correlated with bill length?  a) Body mass?  b) Flipper length?  c) Bill depth?  Show how you arrived at the answer.

First, i need to create a copy of this dataset and remove the categorical columns

In [52]:
df_corr = df_penguins.copy()
df_corr.drop(columns=['species', 'island', 'sex'], inplace=True)
df_corr.head()

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0            39.1           18.7              181.0       3750.0
1            39.5           17.4              186.0       3800.0
2            40.3           18.0              195.0       3250.0
4            36.7           19.3              193.0       3450.0
5            39.3           20.6              190.0       3650.0

In conclusion, body mass is the most strongly correlated with bill length

In [53]:
corr = df_corr.corr()
corr

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.228626,0.653096,0.589451
bill_depth_mm,-0.228626,1.000000,-0.577792,-0.472016
flipper_length_mm,0.653096,-0.577792,1.000000,0.872979
body_mass_g,0.589451,-0.472016,0.872979,1.000000

**21.** How could you show the median flipper length, grouped by species?

In [61]:
df_penguins.groupby('species')['flipper_length_mm'].agg('median')

species
Adelie       190.0
Chinstrap    196.0
Gentoo       216.0
Name: flipper_length_mm, dtype: float64

**22.** Which species has the longest flippers?

Gentoo

**23.** Which two species have the most similar mean weight?  Show how you arrived at the answer.

**24.** How could you sort the rows by bill length?

**25.** How could you run the same sort in descending order?

**26.** How could you sort by species first, then by body mass?

## Selecting Rows, Columns, and Cells

Let's look at some precious stones now, and leave the poor penguins alone for a while.  Let's look at some precious stones now, and leave the poor penguins alone for a while.

**27.** Load the Seaborn "diamonds" dataset into a Pandas dataframe named diamonds.

**28.** Display the columns that are available.

**29.** If you select a single column from the diamonds DataFrame, what will be the type of the return value?

**30.** Select the 'table' column and show its type

**31.** Select the first ten rows of the price and carat columns ten rows of the diamonds DataFrame into a variable called subset, and display them.

**32.** For a given column, show the code to display the datatype of the _values_ in the column?

**33.** Select the first row of the diamonds DataFrame into a variable called row.

**34.** What would you expect the data type of the row to be?  Display it.

A Pandas series

**35.** Can you discover the names of the columns using only the row returned in #33?  Why or why not?Can you discover the names of the columns using only the row returned in #33?  Why or why not?

Yes, because a row series should have the columns as the index (See below):

**36.** Select the row with the highest priced diamond.

**37.** Select the row with the lowest priced diamond.

## Some Exercises Using Time Series

**38.** Load the taxis dataset into a DataFrame, ```taxis```.

**39.** The 'pickup' column contains the date and time the customer picked up, but it's a string.  Add a column to the DataFrame, 'pickup_time', containing the value in 'pickup' as a DateTime.

**40.** We have a hypothesis that as the day goes on, the tips get higher.  We'll need to wrangle the data a bit before testing this, however.  First, now that we have a datetime column, pickup_time, create a subset of it to create a new DataFrame, taxis_one_day. This new DataFrame should have values between '2019-03-23 00:06:00' (inclusive) and '2019-03-24 00:00:00' (exlusive).

**41.** We now have a range from morning until midnight, but we to take the mean of the numeric columns, grouped at one hour intervals.  Save the result as df_means, and display it.

**42.** Create a simple line plot of the value "distance".

**43.** Overall, do riders travel further or less far as the day progresses?

**44.** Create a new column in taxis_means, ```tip_in_percent```.  The source columns for this should be "fare" and "tip"

**45.** Create a new column, time_interval, as a range of integer values beginning with zero.

Display the correlations between the following pairs of values:
1. tip_in_percent and distance.
1. tip_in_percent and passengers.
1. tip_in_percent and time_interval.

**47.** Admittedly, the size of the data set is fairly small given how we've subsetted it.  But based on the values in #45, which of the three pairs show the strongest correlation.

**48.** Did our hypothesis that people tip more as the day goes on turn out to be warranted?